<header class="bg-primary text-white">
  <div class="container text-center">
    <br>
    <h1>JUEGO DEL AHORCADO</h1>
    <p class="lead">EL DESAFIO ES ADIVINAR LA PALABRA :-)</p>
    <br>
  </div>
</header>

<div class="row">
    <div class="col text-center">
        <br>
        <h1>{{hiddenWord}}</h1>
        <h3>INTENTOS <small>{{tries}}/9</small></h3>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <img src="assets/img/{{tries}}.png" class="ahorcado-img">
    </div>
</div>

<div class="row" *ngIf="win">
    <div class="col text-center">
        <h1>GANASTE!!!</h1>
        <h4>FELICITACIONES</h4>
        <br>
        <button class="btn btn-primary" (click)="reload()">JUGAR DE NUEVO</button>
    </div>
</div>

<div class="row" *ngIf="lost">
    <div class="col text-center">
        <h1>PERDISTE!!!</h1>
        <h4>LA PALABRA ERA: {{word}}</h4>
        <br>
        <button class="btn btn-primary" (click)="reload()">JUGAR DE NUEVO</button>
    </div>
</div>

<div class="row" *ngIf="!win && !lost">
    <div class="col-lg-4"><br></div>
    <div class="col-lg-4">
        <div class="col text-center">
            <button class="btn btn-primary" id="btn-{{letter}}" (click)="check(letter)" *ngFor="let letter of letters">
                {{letter}}
            </button>
        </div>
    </div>
    <div class="col-lg-4"><br></div>
</div>
